.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
*.opendb
*.idb
*.ipdb
*.o
taga_bipedal_1991_c/taga_bipedal_1991_c/taga_bipedal_1991_c/img1.eps
*.ai
taga_bipedal_1991_c/taga_bipedal_1991_c/taga_bipedal_1991_c/out.csv
taga_bipedal_1991_c/taga_bipedal_1991_c/Debug/out.csv
