.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
taga_bipedal_1991_c/taga_bipedal_1991_c/Debug/out.csv
taga_bipedal_1991_c/taga_bipedal_1991_c/taga_bipedal_1991_c.VC.opendb
*.o
*.ai
*.idb
*.csv
taga_bipedal_1991_c/taga_bipedal_1991_c/taga_bipedal_1991_c/x64/Release/gauss_jordan.nativecodeanalysis.xml
taga_bipedal_1991_c/taga_bipedal_1991_c/taga_bipedal_1991_c/x64/Release/taga1991.nativecodeanalysis.xml
taga_bipedal_1991_c/taga_bipedal_1991_c/taga_bipedal_1991_c/x64/Release/taga1991_test.nativecodeanalysis.xml
taga_bipedal_1991_c/taga_bipedal_1991_c/taga_bipedal_1991_c/x64/Release/vc.nativecodeanalysis.all.xml
taga_bipedal_1991_c/taga_bipedal_1991_c/taga_bipedal_1991_c/img1.eps
taga_bipedal_1991_processing_win/application.linux-armv6hf/lib/gluegen-rt-natives-linux-armv6hf.jar
taga_bipedal_1991_processing_win/application.linux-armv6hf/lib/jogl-all-natives-linux-armv6hf.jar
taga_bipedal_1991_processing_win/data/positions.txt
taga_bipedal_1991_c/taga_bipedal_1991_c/x64/Release/taga_bipedal_1991_c.ipdb
taga_bipedal_1991_processing_win/application.linux-armv6hf/lib/taga_bipedal_1991_processing_win.jar
taga_bipedal_1991_processing_win/application.linux-armv6hf/source/taga_bipedal_1991_processing_win.java
taga_bipedal_1991_c/taga_bipedal_1991_c/x64/Release/taga_bipedal_1991_c.exe.lastcodeanalysissucceeded
